.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 3rem;
  height: 1.6rem;
  margin-right: calc(11 / 16 * 1rem);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  font-weight: 100;
  font-style: normal;
  font-size: 0.6rem;
  line-height: 0.75rem;

  color: #000000;

  margin-right: 2rem;
}

.email {
  width: 6.1875rem;
  height: 0.75rem;
}

.phone {
  width: 5.4375rem;
  height: 0.75rem;
}

.navList {
  display: flex;
  gap: 4rem;
  list-style: none;
  flex: none;
  flex-grow: 0;
  padding-top: 0.15rem;

  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;

  color: #1e1e1e;
}

.button {
  margin-left: auto;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0.375rem;
  padding: 0.5rem;

  cursor: pointer;

  font-style: normal;
  font-weight: 300;
  font-size: calc(11 / 16 * 1rem);
  line-height: calc(13 / 16 * 1rem);
  text-align: center;

  color: var(--white-color);
}
.row {
  height: 3px;
  background: var(--main-color);
}
