.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background: transparent;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
  border: none;
  background: transparent;
}

.titleConnect {
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;

  color: var(--main-color);
}
